.products-container {
  margin: 3.5em 0 0 20% !important;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: left;
}

.cart-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: left;
}

.product-card {
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1), -1px 0 0px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 200px;
  transition: transform 0.3s ease-in-out;
    padding: 5px;
    margin-bottom: 15px;
}

.cart-product-card {
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1), -1px 0 0px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.cart-product-image {
    padding: 20px 0 0 0;
    cursor: pointer;
    width: 100%;
    object-fit: contain;
}

.product-image {
  cursor: pointer;
  width: 100%;
  object-fit: contain;
}

.cart-product-prices {
    position: absolute;
    top: 0;
    left: 0;
}

.product-details {
  /*background-color: #edda8f;*/
  border-radius: 10px;
}

.product-details a {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.product-prices {
  font-weight: bold;
  position: absolute;
  padding: 3px 10px 2px 10px;
  margin-right: 7px;
  margin-top: 7px;
  top: 0;
  right: 0;
  background-color: rgb(107, 224, 107);
  border-radius: 5px;
}

.product-details button {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin: 5px 0 0 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    width: 35px;
    height: 35px;
    background-color: rgb(100, 100, 100, 0.2);
}

.product-details button:hover {
    background-color: rgb(100, 100, 100, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transform: none;
}

.deleteFromCart button {
    justify-content: center;
    cursor: pointer;
    border: 1px solid #000000 ;
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    padding: 3px 10px 2px 10px;
    top: 0;
    right: 0;
    border-radius: 5px;
}

.deleteFromCart button:hover {
    background-color: rgb(255, 0, 0);
    border: none;
}

@media (max-width: 768px) {
  .product-card {
    width: 100px;
    padding: 2.5px;
  }

  .productImageFrame {
    margin: 2.5px;
  }
  
  .product-image {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 75px;
  }
  
  .product-details a {
    padding: 5px;
    font-size: 10px;
  }
  
  .product-prices {
    padding: 2.5px;
    padding-top: 0.5px;
    margin-right: 3.5px;
    margin-top: 3.5px;
    font-size: 8px;
  }
  
  .product-details button {
    border: 0.5px solid #000000 ;
    width: 17.5px;
    height: 17.5px;
    font-size: 7px;
  }
}
